In [4]:
import pandas as pd
import numpy as np
import os

In [5]:
fips_file = "Resources/fips_for_ori_processing.csv"
ori_file = "Resources/ht_for_ori_processing.csv"

In [6]:
ori_df = pd.read_csv(ori_file)
ori_df.head()

,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,COUNTY_NAME,REGION_NAME,POPULATION_GROUP_CODE,POPULATION_GROUP_DESC,OFFENSE_SUBCAT_ID,OFFENSE_NAME,OFFENSE_SUBCAT_NAME,ACTUAL_COUNT,UNFOUNDED_COUNT,CLEARED_COUNT,JUVENILE_CLEARED_COUNT
0,2020,GA0440200,DeKalb County Police Department,NaN,County,GA,Georgia,South Atlantic,DEKALB,South,9A,"MSA counties 100,000 or over",81,Human Trafficking,Commercial Sex Acts,2,0,0,0
1,2020,GA0440200,DeKalb County Police Department,NaN,County,GA,Georgia,South Atlantic,DEKALB,South,9A,"MSA counties 100,000 or over",82,Human Trafficking,Involuntary Servitude,1,0,0,0
2,2020,GA0440200,DeKalb County Police Department,NaN,County,GA,Georgia,South Atlantic,DEKALB,South,9A,"MSA counties 100,000 or over",81,Human Trafficking,Commercial Sex Acts,2,0,1,0
3,2020,GA0440200,DeKalb County Police Department,NaN,County,GA,Georgia,South Atlantic,DEKALB,South,9A,"MSA counties 100,000 or over",81,Human Trafficking,Commercial Sex Acts,5,0,0,0
4,2020,GA0440200,DeKalb County Police Department,NaN,County,GA,Georgia,South Atlantic,DEKALB,South,9A,"MSA counties 100,000 or over",82,Human Trafficking,Involuntary Servitude,1,0,0,0

In [17]:
ori_df['COUNTY']= ori_df['COUNTY_NAME'] + " " + ori_df['STATE_ABBR']
ori_df

,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,COUNTY_NAME,REGION_NAME,POPULATION_GROUP_CODE,POPULATION_GROUP_DESC,OFFENSE_SUBCAT_ID,OFFENSE_NAME,OFFENSE_SUBCAT_NAME,ACTUAL_COUNT,UNFOUNDED_COUNT,CLEARED_COUNT,JUVENILE_CLEARED_COUNT,COUNTY
0,2020,GA0440200,DeKalb County Police Department,NaN,County,GA,Georgia,South Atlantic,DEKALB,South,9A,"MSA counties 100,000 or over",81,Human Trafficking,Commercial Sex Acts,2,0,0,0,DEKALB GA
1,2020,GA0440200,DeKalb County Police Department,NaN,County,GA,Georgia,South Atlantic,DEKALB,South,9A,"MSA counties 100,000 or over",82,Human Trafficking,Involuntary Servitude,1,0,0,0,DEKALB GA
2,2020,GA0440200,DeKalb County Police Department,NaN,County,GA,Georgia,South Atlantic,DEKALB,South,9A,"MSA counties 100,000 or over",81,Human Trafficking,Commercial Sex Acts,2,0,1,0,DEKALB GA
3,2020,GA0440200,DeKalb County Police Department,NaN,County,GA,Georgia,South Atlantic,DEKALB,South,9A,"MSA counties 100,000 or over",81,Human Trafficking,Commercial Sex Acts,5,0,0,0,DEKALB GA
4,2020,GA0440200,DeKalb County Police Department,NaN,County,GA,Georgia,South Atlantic,DEKALB,South,9A,"MSA counties 100,000 or over",82,Human Trafficking,Involuntary Servitude,1,0,0,0,DEKALB GA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012,2019,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",82,Human Trafficking,Involuntary Servitude,2,0,0,0,FRANKLIN KY
1013,2019,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",82,Human Trafficking,Involuntary Servitude,1,0,0,0,FRANKLIN KY
1014,2020,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",81,Human Trafficking,Commercial Sex Acts,1,0,0,0,FRANKLIN KY
1015,2020,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",81,Human Trafficking,Commercial Sex Acts,1,0,0,0,FRANKLIN KY
1016,2020,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",81,Human Trafficking,Commercial Sex Acts,1,0,0,0,FRANKLIN KY

In [7]:
fips_df = pd.read_csv(fips_file)
fips_df.head()

   FIPS     Name State
0  1001  Autauga    AL
1  1003  Baldwin    AL
2  1005  Barbour    AL
3  1007     Bibb    AL
4  1009   Blount    AL

In [9]:
fips_df['Name']=fips_df['Name'].str.upper()

In [10]:
fips_df

       FIPS        Name State
0      1001     AUTAUGA    AL
1      1003     BALDWIN    AL
2      1005     BARBOUR    AL
3      1007        BIBB    AL
4      1009      BLOUNT    AL
...     ...         ...   ...
3227  72151     YABUCOA    PR
3228  72153       YAUCO    PR
3229  78010   ST. CROIX    VI
3230  78020    ST. JOHN    VI
3231  78030  ST. THOMAS    VI

[3232 rows x 3 columns]

In [15]:
fips_df['COUNTY']= fips_df['Name'] + " " + fips_df['State']

In [16]:
fips_df

       FIPS        Name State         COUNTY
0      1001     AUTAUGA    AL     AUTAUGA AL
1      1003     BALDWIN    AL     BALDWIN AL
2      1005     BARBOUR    AL     BARBOUR AL
3      1007        BIBB    AL        BIBB AL
4      1009      BLOUNT    AL      BLOUNT AL
...     ...         ...   ...            ...
3227  72151     YABUCOA    PR     YABUCOA PR
3228  72153       YAUCO    PR       YAUCO PR
3229  78010   ST. CROIX    VI   ST. CROIX VI
3230  78020    ST. JOHN    VI    ST. JOHN VI
3231  78030  ST. THOMAS    VI  ST. THOMAS VI

[3232 rows x 4 columns]

In [18]:
fips_df['State'].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'AS', 'MP', 'GU', 'PR',
       'VI'], dtype=object)

In [21]:
fips_df['State'].nunique()

56

In [26]:
# fips_df['State'] = fips_df['State'][fips_df['State'].line_race == 'AS']
# fips_df.drop(fips_df['State'].index[fips_df['State']['line_race'] == 'AS'], inplace = True)
fips_df = fips_df[fips_df['State'] != 'AS']
fips_df = fips_df[fips_df['State'] != 'MP']
fips_df = fips_df[fips_df['State'] != 'GU']
fips_df = fips_df[fips_df['State'] != 'PR']
fips_df = fips_df[fips_df['State'] != 'VI']

In [27]:
fips_df['State'].nunique()

51

In [28]:
fips_df['State'].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [32]:
ori_short_df = ori_df{['DATA_YEAR'],
                      ['ORI'],
                      ['PUB_AGENCY_NAME'],
                      ['POPULATION_GROUP_CODE'],
                      ['POPULATION_GROUP_DESC'],
                      ['OFFENSE_SUBCAT_ID'],
                      ['OFFENSE_SUBCAT_NAME'],
                      ['ACTUAL_COUNT'],
                      ['COUNTY']}

SyntaxError: invalid syntax (<ipython-input-32-9f0929610271>, line 1)