In [4]:
import pandas as pd
import numpy as np
import os

In [5]:
fips_file = "Resources/fips_for_ori_processing.csv"
ori_file = "Resources/ht_for_ori_processing.csv"

In [6]:
ori_df = pd.read_csv(ori_file)
ori_df.head()

,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,COUNTY_NAME,REGION_NAME,POPULATION_GROUP_CODE,POPULATION_GROUP_DESC,OFFENSE_SUBCAT_ID,OFFENSE_NAME,OFFENSE_SUBCAT_NAME,ACTUAL_COUNT,UNFOUNDED_COUNT,CLEARED_COUNT,JUVENILE_CLEARED_COUNT
0,2020,GA0440200,DeKalb County Police Department,NaN,County,GA,Georgia,South Atlantic,DEKALB,South,9A,"MSA counties 100,000 or over",81,Human Trafficking,Commercial Sex Acts,2,0,0,0
1,2020,GA0440200,DeKalb County Police Department,NaN,County,GA,Georgia,South Atlantic,DEKALB,South,9A,"MSA counties 100,000 or over",82,Human Trafficking,Involuntary Servitude,1,0,0,0
2,2020,GA0440200,DeKalb County Police Department,NaN,County,GA,Georgia,South Atlantic,DEKALB,South,9A,"MSA counties 100,000 or over",81,Human Trafficking,Commercial Sex Acts,2,0,1,0
3,2020,GA0440200,DeKalb County Police Department,NaN,County,GA,Georgia,South Atlantic,DEKALB,South,9A,"MSA counties 100,000 or over",81,Human Trafficking,Commercial Sex Acts,5,0,0,0
4,2020,GA0440200,DeKalb County Police Department,NaN,County,GA,Georgia,South Atlantic,DEKALB,South,9A,"MSA counties 100,000 or over",82,Human Trafficking,Involuntary Servitude,1,0,0,0

In [7]:
fips_df = pd.read_csv(fips_file)
fips_df.head()

   FIPS     Name State
0  1001  Autauga    AL
1  1003  Baldwin    AL
2  1005  Barbour    AL
3  1007     Bibb    AL
4  1009   Blount    AL

In [8]:
fips_df['Name']=fips_df['Name'].upper()

AttributeError: 'Series' object has no attribute 'upper'